{{#each category in view.categories}}
    <li>
       <div {{bind-attr class="category.name"}}> {{category.datatype}} </div>
        <ul class="categorized-property">
            {{#each item in category.items}}
                {{#draggable-item data=item tagName='li'}}
                   <div {{bind-attr class="item.datatype"}}>
                    <div class="categorized-property-parents">
                    {{#each p in item.parent}}
                        <span class="categorized-property-parent">{{p.label}} &raquo;</span>
                    {{/each}}
                    </div>
                    <div class="categorized-property-name">
                        {{item.label}}
                    </div>
                  </div> 
                {{/draggable-item}}
            {{/each}}
        </ul>
    </li> 
{{/each}}
