<dl>
    <dd class="datasource">
        <h6>Select visualization</h6>                   
        <ul>                       
            <li> 
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3"> 
                    {{#each tool in controller}} 
                    <li> <a {{action 'configure' tool}}> {{tool.name}} </a>
                        <img {{bind-attr src="tool.thumbnail"}} />
                    </li>
                    {{/each}}  
                </ul>
            </li>            
        </ul>
    </dd>

    <dd>
        <h6>Configure visualization</h6>
        <div>
            {{view App.ContainerView classNames="small-block-grid-2 medium-block-grid-3 large-block-grid-4" tagName="ul" elementId="structureOptionsView"}}
        </div>
        {{#if isSelected}}
        <a {{action 'draw'}}>draw</a>
        {{/if}}
    </dd>

    <dd>
        <h6>Customize visualization</h6>
        <div  class="row">
            <div class="large-3 medium-4 columns tuning">
                {{view App.ContainerView classNames="optionContainer" tagName="ul" elementId="tuningOptionsView"}}
            </div>
            <div class="large-9 medium-8 columns">
                <div id="visualization" style="width: 600px; height: 400px;"></div>
            </div>
        </div>
    </dd>

    <dd>
        <h6>Export or publish visualization</h6>
        <div>
            <a href="#">Export</a>
        </div>
    </dd>
</dl>


