<dl>          
    <dd>
        <h6 class="workflowStepTitle list_default">Select visualization</h6>                          
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 "> 
                    {{#each tool in controller}} 
                    <li style="text-align: center; font-size: 11pt; font-weight: bold;"> 
                        <div style="background-color: #ffffff "><a style="color: #4b4b4b" {{action 'configure' tool}}> {{tool.name}} </a></div>
                        <img {{bind-attr src="tool.thumbnail"}} style="width:100%"/>
                    </li>
                    {{/each}}   
                </ul>          
    </dd> 
         
    <dd> 
        <h6 class="workflowStepTitle list_default">Initialize visualization</h6>   
        <div style="background-color: #ffffff">
            {{view App.ContainerView classNames="list" tagName="ul" elementId="structureOptionsView"}}
        </div>       
        <a {{action 'draw'}}>draw</a>
    </dd> 
     
    <dd> 
        <h6 class="workflowStepTitle">Customize visualization</h6>
        <div  class="row">
            <div class="large-3 medium-4 columns list_default">
                {{view App.ContainerView classNames="optionContainer" tagName="ul" elementId="tuningOptionsView"}}
            </div>
            <div class="large-9 medium-8 columns">
                <div id="visualisation" style="width: 600px; height: 400px;margin-left: auto; margin-right: auto;"></div>
            </div>
        </div>
    </dd>
   
    <dd> 
        <h6 class="workflowStepTitle list_default">Export or publish visualization</h6>
        <div  class="row">
            <div class="large-3 medium-4 columns export">
                {{view App.Select viewName="selectFormat"
                                   content=controller.formats   
                                   prompt="Select format"
                                   classNames="export"
                                   selection=controller.selectedFormat}}
            </div>
            <div class="large-9 medium-8 columns">
                <div>             
                      {{view Ember.TextArea value=controller.exportedCode rows="5" cols="50"}}
                </div>
                <span style="font-style: italic">Copy this code into your web site to embed the visualization</span>
            </div>
        </div>
         <a {{action 'export'}}>export</a>
    </dd>
</dl>
 
  
 