<div>
    {{#if selected}} 
    <div> 
        <iframe {{bind-attr src=uri }} style="width:100%; height: 700px;"></iframe> 
    </div>
    {{else}}  
    <div class="datasource">
        <h5>Select visualization tool</h5> 
        <ul>             
            {{#each tool in controller}}   
            <li> {{input type="checkbox" checked=isChecked}} {{tool.name}} </li> 
            {{/each}}      
        </ul>     
        <div>
            <a {{action 'select'}}>Select</a>
        </div> 
    </div>
    {{/if}}
</div>

