<dl>          
    <dd>
        <h6 class="workflowStepTitle">Select visualization</h6>                   
        <ul>                       
            <li> 
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4"> 
                    {{#each tool in controller}} 
                    <li> <a {{action 'configure' tool}}> {{tool.name}} </a>
                        <img {{bind-attr src="tool.thumbnail"}} " />
                    </li>
                    {{/each}}  
                </ul>
            </li>            
        </ul>
    </dd>
         
    <dd> <!--{{bind-attr class="initialize:showElement:hideElement"}} id="wf-init-vis"-->
        <h6 class="workflowStepTitle">Initialize visualization</h6>   
        <div style="background-color: #ffffff">
            {{view App.ContainerView classNames="list" tagName="ul" elementId="structureOptionsView"}}
        </div>       
        <a {{action 'draw'}}>draw</a>
    </dd>
     
    <dd> <!--{{bind-attr class="customize:showElement:hideElement"}} id="wf-customize-vis"-->     
        <h6 class="workflowStepTitle">Customize visualization</h6>
        <div  class="row">
            <div class="large-3 medium-4 columns tuning">
                {{view App.ContainerView classNames="optionContainer" tagName="ul" elementId="tuningOptionsView"}}
            </div>
            <div class="large-9 medium-8 columns">
                <div id="visualisation" style="width: 600px; height: 400px;margin-left: auto; margin-right: auto;"></div>
            </div>
        </div>
    </dd>
   
    <dd> <!--{{bind-attr class="fullwidthvis:showElement:hideElement"}} id="wf-fullwidth-vis"-->
        <h6 class="workflowStepTitle">Export or publish visualization</h6>
        <div  class="row">
            <div class="large-3 medium-4 columns export">
                {{view App.Select viewName="selectFormat"
                                   content=controller.formats   
                                   prompt="Select format"
                                   classNames="export"
                                   selection=controller.selectedFormat}}
            </div>
            <div class="large-9 medium-8 columns">
                <div>             
                      {{view Ember.TextArea value=controller.exportedCode rows="5" cols="50"}}
                </div>
                <span style="font-style: italic">Copy this code into your web site to embed the visualization</span>
            </div>
        </div>
         <a {{action 'export'}}>export</a>
    </dd>
</dl>

 
 